<div id="plugin-slicer-load-model" class="modal hide fade modal-sm">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>Printer bed not empty!</h3>
    </div>
    <div class="modal-body">
        <div class="controls">
             <button class="btn btn-block" data-bind="click: function() { $data.addToNewSession(); }">Empty the bed and add only this file.</button>
             <button class="btn btn-block" data-bind="click: function() { $data.addToExistingSession(); }">Add this file to existing ones.</button>
             Hint: You can Alt+Click to add just this model or Shift+Click to add to the existing models.
             <br />
        </div>
    </div>
</div>
