<div id="slicer-viewport">
</div>
<br />
<div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#general">General</a></li>
  <li><a data-toggle="tab" href="#basic_profile">Basic</a></li>
  <li><a data-toggle="tab" href="#advanced">Advanced</a></li>
</ul>
</div>
<div class="tab-content">
  <div id="general" class="tab-pane fade in active">
    <div id="slicing-settings">
        <form class="form-vertical">
            <div class="row">
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">{{ _('Slicer') }}</label>
                        <div class="controls">
                            <select data-bind="options: matchingSlicers, optionsText: 'name', optionsValue: 'key', optionsCaption: '{{ _('Select a slicer...') }}', value: slicer, valueAllowUnset: true"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Printer Profile') }}</label>
                        <div class="controls">
                            <select data-bind="options: printerProfiles.profiles.items, optionsText: 'name', optionsValue: 'id', value: printerProfile, optionsCaption: '{{ _('Select a printer profile...') }}'"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('After slicing...') }}</label>
                        <div class="controls">
                            <select data-bind="options: afterSlicingOptions, optionsText: 'text', optionsValue: 'value', value: afterSlicing"></select>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">{{ _('Slicing Profile') }}</label>
                        <div class="controls">
                            <select data-bind="options: profiles, optionsText: 'name', optionsValue: 'key', optionsCaption: '{{ _('Select a slicing profile...') }}', value: profile, valueAllowUnset: true"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Output Filename') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" data-bind="value: destinationFilename">
                                <span class="add-on" data-bind="text: '.' + destinationExtension()"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
  <div id="basic_overrides" class="tab-pane fade">
    <div class="wrapper">
        <form class="form-horizontal">
           <div class="row">
             <div class="span3">
               <div title="Printing temperature" class="input-append">
                   <label class="control-label">Printing temperature</label>
                   <div class="controls">
                       <input type="number" tabindex="-1" min="150" max="315" step="1">
                       <span class="add-on">°C</span>
                   </div>
               </div>
               <div title="Heatbed temperature" class="input-append">
                   <label class="control-label">Heatbed temperature</label>
                   <div class="controls">
                       <input type="number" tabindex="-1" min="0" max="110" step="1">
                       <span class="add-on">°C</span>
                   </div>
               </div>
               <div title="Height of each layer" class="input-append">
                   <label class="control-label">Layer height</label>
                   <div class="controls">
                       <input data-bind="value: layer_height" type="number" tabindex="-1" min="0.01" max="0.35" step="0.01">
                       <span class="add-on">mm</span>
                   </div>
               </div>
               <div title="Percentage of the model that is filled in" class="input-append">
                   <label class="control-label">Fill density</label>
                   <div class="controls">
                       <input type="number" tabindex="-1" min="0" max="100" step="0.01">
                       <span class="add-on">%</span>
                   </div>
               </div>
             </div>
             <div class="span3">
               <div title="Thickness of the model" class="input-append">
                   <label class="control-label">Thickness</label>
                   <div class="controls">
                       <input type="number" tabindex="-1" min="1" max="25" step="1">
                       <span class="add-on">wall(s)</span>
                   </div>
               </div>
               <div title="Speed of the extruder's movements while printing" class="input-append">
                   <label class="control-label">Print speed</label>
                   <div class="controls">
                       <input class="printSpeed" type="number" tabindex="-1" min="2" max="80" step="0.01">
                       <span class="add-on">mm/s</span>
                   </div>
               </div>
               <div title="Number of layers that the top and bottom each consist of" class="input-append">
                   <label class="control-label">Top/bottom</label>
                   <div class="controls">
                       <input type="number" tabindex="-1" min="1" max="25" step="1">
                       <span class="add-on">layer(s)</span>
                   </div>
               </div>
              </div>
            </div>
          </form>
       </div>
  </div>
</div>
<div id="slicer">
    <button class="btn btn-primary btn-block" data-bind="click: slice">Slice</button>
</div>
