<div id="slicer-viewport">
</div>
<br />
<div>
    <select data-bind="options: settings.slicers,
                       optionsCaption: 'Select a slicer...',
                       optionsText: 'displayName',
                       value: settings.selectedSlicer"></select>
    <button class="btn btn-primary btn-block" data-bind="click: slice">Slice</button>
</div>
