<div id="slicer-viewport">
</div>
<br />
<div>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#general">General</a></li>
  <li><a data-toggle="tab" href="#basic_overrides">Basic</a></li>
  <li><a data-toggle="tab" href="#advanced_overrides">Advanced</a></li>
  <canvas id="slicer-canvas"></canvas>
</ul>
</div>
<div class="tab-content">
  <div id="general" class="tab-pane fade in active">
    <div id="slicing-settings">
        <form class="form-vertical">
            <div class="row">
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">{{ _('Slicer') }}</label>
                        <div class="controls">
                            <select data-bind="options: matchingSlicers, optionsText: 'name', optionsValue: 'key', optionsCaption: '{{ _('Select a slicer...') }}', value: slicer, valueAllowUnset: true"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Printer Profile') }}</label>
                        <div class="controls">
                            <select data-bind="options: printerProfiles.profiles.items, optionsText: 'name', optionsValue: 'id', value: printerProfile, optionsCaption: '{{ _('Select a printer profile...') }}'"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('After slicing...') }}</label>
                        <div class="controls">
                            <select data-bind="options: afterSlicingOptions, optionsText: 'text', optionsValue: 'value', value: afterSlicing"></select>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="control-group">
                        <label class="control-label">{{ _('Slicing Profile') }}</label>
                        <div class="controls">
                            <select data-bind="options: profiles, optionsText: 'name', optionsValue: 'key', optionsCaption: '{{ _('Select a slicing profile...') }}', value: profile, valueAllowUnset: true"></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">{{ _('Output Filename') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" data-bind="value: destinationFilename"></input>
                                <span class="add-on" data-bind="text: '.' + destinationExtension()"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
  <div id="basic_overrides" class="tab-pane fade">
      <div class="wrapper">
          <form class="form-horizontal">
              <div class="row">
                  <div class="span3">
                      <div title="Temperature" class="input-append" data-bind="visible: !_.isUndefined($data['profile.temperature']())">
                          <label class="control-label">Temperature</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.temperature']" type="number" tabindex="-1" min="150" max="315" step="1"></input>
                              <span class="add-on">°C</span>
                          </div>
                      </div>
                      <div title="Print temperature" class="input-append" data-bind="visible: !_.isUndefined($data['profile.print_temperature']())">
                          <label class="control-label">Print temperature</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.print_temperature']" type="number" tabindex="-1" min="150" max="315" step="1"></input>
                              <span class="add-on">°C</span>
                          </div>
                      </div>
                      <div title="Print Bed temperature" class="input-append" data-bind="visible: !_.isUndefined($data['profile.print_bed_temperature']())">
                          <label class="control-label">Print bed temperature</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.print_bed_temperature']" type="number" tabindex="-1" min="0" max="110" step="1"></input>
                              <span class="add-on">°C</span>
                          </div>
                      </div>
                      <div title="Bed temperature" class="input-append" data-bind="visible: !_.isUndefined($data['profile.bed_temperature']())">
                          <label class="control-label">Bed temperature</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.bed_temperature']" type="number" tabindex="-1" min="0" max="110" step="1"></input>
                              <span class="add-on">°C</span>
                          </div>
                      </div>
                      <div title="Height of each layer" class="input-append" data-bind="visible: !_.isUndefined($data['profile.layer_height']())">
                          <label class="control-label">Layer height</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.layer_height']" type="number" tabindex="-1" min="0.01" max="0.35" step="0.01"></input>
                              <span class="add-on">mm</span>
                          </div>
                      </div>
                      <div title="Percentage of the model that is filled in" class="input-append">
                          <label class="control-label">Fill density</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.fill_density']" type="number" tabindex="-1" min="0" max="100" step="1"></input>
                              <span class="add-on">%</span>
                          </div>
                      </div>
                  </div>
                  <div class="span3">
                      <div title="Shell thickness" class="input-append">
                          <label class="control-label">Shell thickness</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.wall_thickness']" type="number" tabindex="-1" min="0.1" max="2" step="0.05"></input>
                              <span class="add-on">mm</span>
                          </div>
                      </div>
                      <div title="Speed of the extruder's movements while printing" class="input-append">
                          <label class="control-label">Print speed</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.print_speed']" type="number" tabindex="-1" min="2" max="150" step="0.1"></input>
                              <span class="add-on">mm/s</span>
                          </div>
                      </div>
                      <div title="Top and bottom thickness" class="input-append">
                          <label class="control-label">Top/bottom</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.solid_layer_thickness']" type="number" tabindex="-1" min="0.1" max="2" step="0.05"></input>
                              <span class="add-on">mm</span>
                          </div>
                      </div>
                      <div title="Support for overhangs" class="input-append" data-bind="visible: !_.isUndefined($data['profile.support']())">
                          <label class="control-label">Support</label>
                          <div class="controls">
                              <select data-bind="options: $data.optionsForKey('support'), value: $data['profile.support'], valueAllowUnset: false"></select>
                          </div>
                      </div>
                      <div title="Generate support material" class="input-append" data-bind="visible: !_.isUndefined($data['profile.support_material']())">
                          <label class="control-label">Supports</label>
                          <div class="controls checkbox">
                              <input type="checkbox" data-bind="checked: $data['profile.support_material']"></input>
                          </div>
                      </div>
                      <div title="Detect Bridging Perimeters (recommended when using supports)" class="input-append" data-bind="visible: !_.isUndefined($data['profile.overhangs']())">
                          <label class="control-label">Detect overhangs</label>
                          <div class="controls checkbox">
                              <input type="checkbox" data-bind="checked: $data['profile.overhangs']"></input>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <div id="advanced_overrides" class="tab-pane fade">
      <div class="wrapper">
          <form class="form-horizontal">
              <div class="row">
                  <div class="span3">
                      <div title="Travel speed while not printing" class="input-append">
                          <label class="control-label">Travel speed</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.travel_speed']" type="number" tabindex="-1" min="0" max="300" step="1"></input>
                              <span class="add-on">mm/s</span>
                          </div>
                      </div>
                      <div title="Speed while printing infill" class="input-append">
                          <label class="control-label">Infill speed</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.infill_speed']" type="number" tabindex="-1" min="0" max="300" step="1"></input>
                              <span class="add-on">mm/s</span>
                          </div>
                      </div>
                      <div title="Speed while printing outer shell" class="input-append">
                          <label class="control-label">Outer shell speed</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.outer_shell_speed']" type="number" tabindex="-1" min="0" max="300" step="1"></input>
                              <span class="add-on">mm/s</span>
                          </div>
                      </div>
                      <div title="Speed while printing inner shell" class="input-append">
                          <label class="control-label">Inner shell speed</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.inner_shell_speed']" type="number" tabindex="-1" min="0" max="300" step="1"></input>
                              <span class="add-on">mm/s</span>
                          </div>
                      </div>
                      <div title="Speed while printing Bottom layer" class="input-append">
                          <label class="control-label">Bottom layer speed</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.bottom_layer_speed']" type="number" tabindex="-1" min="0" max="300" step="1"></input>
                              <span class="add-on">mm/s</span>
                          </div>
                      </div>
                  </div>
                  <div class="span3">
                      <div title="Platform adhesion type" class="input-append">
                          <label class="control-label">Adhension</label>
                          <div class="controls">
                            <select data-bind="options: $data.optionsForKey('platform_adhesion'), value: $data['profile.platform_adhesion'], valueAllowUnset: false"></select>
                          </div>
                      </div>
                      <div title="Filament Diameter" class="input-append">
                          <label class="control-label">Filament</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.filament_diameter']" type="number" tabindex="-1" min="0" max="100" step="0.01"></input>
                              <span class="add-on">mm</span>
                          </div>
                      </div>
                      <div title="Filament Flow" class="input-append" data-bind="visible: !_.isUndefined($data['profile.filament_flow']())">
                          <label class="control-label">Filament Flow</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.filament_flow']" type="number" tabindex="-1" min="0" max="200" step="0.1"></input>
                              <span class="add-on">%</span>
                          </div>
                      </div>
                      <div title="Extrusion Multiplier" class="input-append" data-bind="visible: !_.isUndefined($data['profile.extrusion_multiplier']())">
                          <label class="control-label">Flow Multiplier</label>
                          <div class="controls">
                              <input data-bind="numericValue: $data['profile.extrusion_multiplier']" type="number" tabindex="-1" min="0" max="2" step="0.001"></input>
                          </div>
                      </div>
                      <div title="Fan Enabled" class="input-append" data-bind="visible: !_.isUndefined($data['profile.fan_enabled']())">
                          <label class="control-label">Fan Enabled</label>
                          <div class="controls checkbox">
                              <input type="checkbox" data-bind="checked: $data['profile.fan_enabled']"></input>
                          </div>
                      </div>
                      <div title="Cooling" class="input-append" data-bind="visible: !_.isUndefined($data['profile.cooling']())">
                          <label class="control-label">Cooling</label>
                          <div class="controls checkbox">
                              <input type="checkbox" data-bind="checked: $data['profile.cooling']"></input>
                          </div>
                      </div>
                      <div title="Enable filament retraction" class="input-append">
                          <label class="control-label">Retraction</label>
                          <div class="controls checkbox">
                              <input type="checkbox" data-bind="checked: $data['profile.retraction_enable']"></input>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
      <div class="row">
          <div class="span7">
              <div title="GCode inserted at the beginning" class="input-append">
                  <label>Start GCode:</label>
                  <div class="controls">
                      <textarea data-bind="value: $data['profile.start_gcode']"></textarea>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="span7">
              <div title="GCode inserted at the end" class="input-append">
                  <label>End GCode:</label>
                  <div class="controls">
                      <textarea data-bind="value: $data['profile.end_gcode']"></textarea>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div id="slicer">
    <button class="btn btn-primary btn-block" data-bind="click: function() { if ($data.slicingViewModel.enableSliceButton()) { $data.slice() } }, css: {disabled: !$data.slicingViewModel.enableSliceButton()}">Slice it!</button>
</div>
