/* TODO: Have your plugin's CSS files generated to here. */
#tab_plugin_slicer {
    position: relative;
}

#canvas {
    background-color: #000;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 100px;
    padding: 0px;
    position: static; /* fixed or static */
    top: 100px;
    left: 100px;
}

#slicer {
    margin: 12px 0px;
}

#slicer-viewport {
    margin-bottom: -5px;
    position: relative;
}

#slicer-viewport > div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#slicer-viewport > div.model {
    left: 0;
    top: 16px;
    transform: translateY(0%);
    flex-direction: column;
}

#slicer-viewport > div.display {
    bottom: 7px;
    top: auto;
}

#slicer-viewport > div.measurements {
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    z-index: 0;
}

#slicer-viewport > div.measurements > p {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
    font-family: "Helvetica";
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    white-space: nowrap;
}

#slicer-viewport > div.values {
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    transition: top 0.3s ease-out;
}

#slicer-viewport > div.values.rotate {
    top: 34px;
}

#slicer-viewport > div.values.scale{
    top: calc(34px + 44px);
}

#slicer-viewport > div.cutShape {
    left: 60px;
    top: calc(34px + 2*44px);
    transform: translateY(-50%);
    display: none;
}

#slicer-viewport > div.values.more{
    top: calc(34px + 6*44px);
}

#slicer-viewport > div.cutShape.show {
    display: block;
}

#slicer-viewport > div.values > div, #slicer-viewport > div.cutShape > div {
    padding: 7px;
    margin: 0 0 -9px 9px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 15px;
    box-shadow: 0 0 6px #B2B2B2;
    position: relative;
    color: white;
    display: none;
}

#slicer-viewport > div.cutShape > div {
    padding: 4px;
}

#slicer-viewport > div.values > div.show, #slicer-viewport > div.cutShape > div {
    display: block;
}

#slicer-viewport > div.values > div > span, #slicer-viewport > div.cutShape > div > span {
    background-color: #f5f5f5;
    z-index: 0;
    display: block;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    transform: rotate(29deg) skew(-35deg);
    width: 20px;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    left: -12px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#slicer-viewport > div.values > div > p {
    font: normal 14px "Helvetica";
    padding: 0;
    margin: 0;
    display: none;
    position: relative;
    z-index: 1;
    color: #333;
}

#slicer-viewport > div.values > div > p.show {
    float: left;
    clear: left;
    display: block;
}

#slicer-viewport > div.values > div > p.checkbox {
    margin: 5px 33px;
}

#slicer-viewport > div.values > div > p > input {
    width: 75px;
    height: 15px;
    text-align: left;
    border-radius: 4px 0 0 4px;
    padding: 4px 4px 3px 4px;
    margin: 0 0 5px 5px;
    vertical-align: middle;
    line-height: 16px;
}

#slicer-viewport > div.values > div > p > span.axis.x {
    color: #F00;
    text-shadow: 0 1px 0 #fff;
}

#slicer-viewport > div.values > div > p > span.axis.y {
    color: #0F0;
    text-shadow: 0 1px 0 #fff;
}

#slicer-viewport > div.values > div > p > span.axis.z {
    color: #00F;
    text-shadow: 0 1px 0 #fff;
}

#slicer-viewport > div.values > div > p > span:not(.axis) {
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    border-left: none;
    line-height: 22px;
    height: 22px;
    color: #555;
    vertical-align: middle;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    position: relative;
    top: 0;
    padding: 0 2px;
    margin: 0;
    cursor: default;
    display: inline-block;
    float: right;
}

#slicer-viewport > div.values > div > p:nth-of-type(3) {
    margin-bottom: -5px;
}

#slicer-viewport > div.values.scale > div > p > span:not(.axis) {
    cursor: pointer;
    text-align: center;
}

#slicer-viewport > div.values.scale > div > p > span.size {
    width: 64px;
}

#slicer-viewport > div > div > p > button {
    width: 136px;
    height: 28px;
    text-align: left;
    padding: 0px 10px;
}

#slicer-viewport > div.values a.close {
    position: absolute;
    margin: 0;
    top: -11px;
    right: -9px;
    color: black;
    opacity: 0.7;
}

#slicer-viewport > div button {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 2px 4px;
    position: relative;
    padding: 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    outline: none;
    flex-shrink: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    z-index: 1;
}

#slicer-viewport > div.printer button {
    margin: 4px 2px;
}

#slicer-viewport > div button::-moz-focus-inner {
    border: 0 !important;
}

#slicer-viewport > div button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

#slicer-viewport > div.printer > button > img {
    width: 90%;
}

#slicer-viewport > div.filament > button > img {
    top: 50%;
    left: 50%;
    height: calc(100% - 2px);
    width: 12px;
}

#slicer-viewport > div.filament > button > span {
    width: 10px;
    left: calc(50% - 5px);
    height: 30px;
    display: block;
    position: relative;
}

#slicer-viewport > div.report {
    transform: translateX(0%);
    top: 3px;
    right: 2%;
    z-index: 5;
}

#slicer-viewport > div > button.disabled, #slicer-viewport > div > button.disabled.delete, #slicer-viewport > div > button.disabled.clone, #slicer-viewport > div > button.disabled.reset, #slicer-viewport > div > button.disabled.merge, #slicer-viewport > div > button.cut.off {
    opacity: 0.5;
    pointer-events: none;
}

.input-append input[type="number"] {
    display: inline;
    width: 50px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.input-append select {
    display: inline;
    width: 120px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.input-append textarea {
    width: 100%;
    min-height: 180px;
}

#tab_plugin_slicer .checkbox {
    padding-top: 5px;
}

.translucent-blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 100;
    opacity: 0.6;
}

/* loading spinner animation */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 260px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
/* end of loading spinner animation */
